<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>getAll</servlet-name>
        <servlet-class>controller.GetAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAll</servlet-name>
        <url-pattern>/getAll.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>change</servlet-name>
        <servlet-class>controller.Change</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>change</servlet-name>
        <url-pattern>/change.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>controller.Remove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove.do</url-pattern>
    </servlet-mapping>
    
</web-app>