<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--prototype -> singletone nadarim-->
    <bean id="x" class="model.PersonManager" scope="prototype">
        <property name="document" ref="doc"/>
    </bean>


    <bean id="doc" class="model.Document" scope="singleton"/>

</beans>